.about-container {
    @include flexbox($flex-direction: row, $align-items: center);

    width: 80%;
    padding-left: 10vw;

    @include breakpoint(mobile){@include flexbox($align-items: center); width: 80%; padding-left: 10%};
}

    .about-image {
        @include floatingboxshadow();
        
        border: 2px solid $color_f;

        height: 25vw;
        width: 25vw;

        @include breakpoint(mobile){height: 55vw; width: 55vw; margin-bottom: 10px;};
    }

        .about-image:hover{
            transform: scale(1.1);
        }

    .about-text {
        font-size: 1.5vw;
        text-align: justify;

        width: 45vw;
        
        @include breakpoint(mobile){font-size: 3.15vw; width: 80vw};
    }

        .about-text span {
            color: $color_h;
        }