.about-container {
    @include flexbox($flex-direction: row);

    margin-left: 10vw;
    margin-right: 10vw;
}

    .about-image {
        @include floatingboxshadow();
        
        border: 2px solid white;

        height: 20vw;
        width: 20vw;
    }

        .about-image:hover{
            transform: scale(1.1);

            transition: transform $transition_time;
        }

    .about-text {
        font-size: 3vh;
        text-align: justify;

        width: 45vw;
    }