.contact-container{
    @include flexbox($align-items: center);

    height: 30%;
    width: 70vw;
    margin-left: 15vw;
}

    .contact-text{
        font-size: 2vw;
        text-align: center;

        @include breakpoint(mobile){font-size: 4vw}
    }

    .contact-email{
        color: $color_f;
        
        font-size: 3.25vw;
        text-align: center;
        text-decoration: none;

        font-weight: calc($weight_ft + 100);
        font-family: $font_ft;
        color: $color_ft;

        @include breakpoint(mobile){font-size: 5vw}
    }

        .contact-email:hover {
            transform: scale(1.1);
            color: $color_h;

            cursor: pointer;
        }

    .contact-links-container {
        @include flexbox($flex-direction: row);

        width: 20vw;

        @include breakpoint(mobile){width: 30vw}
    }

        .contact-icon {
            filter: $color_ft_filter;

            height: 3.75vw;

            @include breakpoint(mobile){height: 8vw}
        }

        .contact-icon:hover {
            transform: scale(1.1);
            filter: $color_h_filter;
        }