.contact-container{
    @include flexbox($align-items: center);

    height: 30vh;
    width: 70vw;
    padding-left: 15vw;
}

    .contact-text{
        font-size: 3vh;
        text-align: center;
    }

    .contact-email{
        font-weight: bold;
        font-size: 4vh;
        text-align: center;
    }

    .contact-links-container {
        @include flexbox($flex-direction: row);

        width: 20vw;
    }

        .contact-icon {
            height: 6vh;
        }

        .contact-icon:hover {
            transform: scale(1.1);
            filter: invert(49%) sepia(29%) saturate(799%) hue-rotate(128deg) brightness(93%) contrast(86%);

            transition: transform $transition_time, filter $transition_time;
        }