.contact-container{
    @include flexbox($align-items: center);

    height: 30%;
    width: 70vw;
    margin-left: 15vw;
}

    .contact-text{
        font-size: 2vw;
        text-align: center;

        @include breakpoint(mobile){font-size: 4vw}
    }

    .contact-email{
        color: $color2;
        font-weight: bold;
        font-size: 3.25vw;
        text-align: center;
        text-decoration: none;

        @include breakpoint(mobile){font-size: 5vw}
    }

        .contact-email:hover {
            transform: scale(1.1);
            color: $color4;

            cursor: pointer;
        }

    .contact-links-container {
        @include flexbox($flex-direction: row);

        width: 20vw;

        @include breakpoint(mobile){width: 30vw}
    }

        .contact-icon {
            height: 3.75vw;

            @include breakpoint(mobile){height: 8vw}
        }

        .contact-icon:hover {
            transform: scale(1.1);
            filter: invert(49%) sepia(29%) saturate(799%) hue-rotate(128deg) brightness(93%) contrast(86%);
        }