.introduction-animation-container {
    position: absolute;
    top: 0;
    z-index: -1;

    height: 100%;
}

.introduction-animation-container canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.introduction-darkfilter {
    background-color: $darker_translucent;

    position: absolute;
    top: 0;
    z-index: -1;

    height: 100%;
    width: 100%;
}

.introduction-text-container {
    @include flexbox();
    
    margin-top: 10%;

    cursor: default;
}

    .introduction-text-hi {
        font-size: 3.25vw;
        text-align: center;
    }

    .introduction-text-name {
        font-size: 9vw;
        text-align: center;
    }

        .introduction-text-name:hover {
            transform: scale(1.1);
            color: $color4;
        }

    .introduction-text-tagline {
        font-size: 3.75vw;
        text-align: center;
    }

.introduction-icon {
    background-color: $dark_translucent;

    position: absolute;
    bottom: 0%;

    height: 3.25vw !important;
    width: 3.25vw !important;
    padding-right: 48vw;
    padding-left: 48vw;
    
    cursor: pointer;
}

    .introduction-icon:hover {
        transform: scale(1.1);
        color: $color4;
    }