.introduction-animation-container {
    position: absolute;
    top: 0;
    z-index: -1;

    height: 100%;
    width: 100%;
}

.introduction-animation-container canvas {
    display: block;
}

.introduction-darkfilter {
    background-color: $darker_translucent;

    position: absolute;
    top: 0;
    z-index: -1;

    height: 100%;
    width: 100%;
}

.introduction-text-container {
    @include flexbox();

    color: $color1;
    font-family: 'Lato', 'sans-serif';
    
    margin-top: 10%;

    cursor: default;
}

    .introduction-text-hi {
        font-size: 3.25vw;
        text-align: center;
    }

    .introduction-text-name {
        font-size: 9vw;
        text-align: center;
    }

        .introduction-text-name:hover {
            transform: scale(1.1);
            color: $color4;
        }

    .introduction-text-tagline {
        font-size: 3.75vw;
        text-align: center;
    }