@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/breakpoints';

@import 'animations/animations';
@import 'animations/transitions';

@import 'base/base';

@import 'components/app';
@import 'components/loading';
@import 'components/menu';
@import 'components/projectgrid';
@import 'components/projecttile';
@import 'components/section';
@import 'components/sidebar';
@import 'components/slideshow';

@import 'sections/about';
@import 'sections/contact';
@import 'sections/introduction';