@mixin breakpoint($type) {
    @if $type == tablet {
        @media (min-width: 500px) and (max-width: 1400px){ @content; }
    }
    @else if $type == mobile {
        @media (max-width: 500px){ @content; }
    }
}