.loading-logo {
    animation-name: loading_fill, loading_fadeout;
    animation-duration: 0.6s, 0.6s; 
    animation-delay: 0s, 0.5s;
}

.app {
    animation: app_fadein;
    animation-duration: 1s;
    animation-delay: 1.1s;
}

@keyframes loading_fill {
    from {
        transform: scale(1);
        filter: auto;
    }

    to {
        transform: scale(1.3);
        filter: $color4_filter;
    }
}

@keyframes loading_fadeout {
    from {
        opacity: 1;
        filter: $color4_filter;
        transform: scale(1.3);
    }

    to {
        opacity: 0;
        filter: $color4_filter;
        transform: scale(1.3);
    }
}

@keyframes app_fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}