@keyframes fade {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes shrinkY {
    from {transform: scaleY(1);}
    to {transform: scaleY(0);}
}

@keyframes grow20 {
    from {transform: scale(1);}
    to {transform: scale(1.2);}
}

@keyframes filter4 {
    from {filter: auto;}
    to {filter: $color4_filter;}
}

/*Loading*/
.loading-background {
    animation-name: fade;
    animation-duration: calc($transition_time*2);
    animation-delay: calc($transition_time*1.5);
}

.loading-logo {
    animation-name: filter4, grow20;
    animation-duration: calc($transition_time*1.5), calc($transition_time*1.5); 
    animation-delay: 0s, 0s;
    animation-direction: normal, alternate;
}

/*Introduction*/
.introduction-text-name {
    animation-name: grow20, filter4;
    animation-duration: calc($transition_time*1.5), calc($transition_time*1.5);
    animation-delay: calc($transition_time*1.5), calc($transition_time*1.5);
    animation-direction: normal, normal;
    animation-fill-mode: forwards, forwards;
}

/*ProjectsGrid*/
.projectsgrid-description-container.loading {
    animation-name: shrinkY;
    animation-duration: $transition_time;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

.projectsgrid-description-container.loadingfirst {
    animation-name: shrinkY;
    animation-duration: $transition_time;
    animation-direction: reverse;
}

    .projectsgrid-description-container {
        transform-origin: top left;
    }

.projectsgrid-description-content-container.loading {
    animation-name: fade;
    animation-duration: $transition_time;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

.projectsgrid-description-content-container.loadingfirst {
    animation-name: fade;
    animation-duration: $transition_time;
    animation-direction: reverse;
}

.projectsgrid-description-image.loading {
    animation-name: shrinkY;
    animation-duration: $transition_time;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

.projectsgrid-description-image.loadingfirst {
    animation-name: shrinkY;
    animation-duration: $transition_time;
    animation-direction: reverse;
}

    .projectsgrid-description-image {
        transform-origin: top left;
    }

/*Slideshow*/
.slideshow-background.loading {
    animation-name: fade;
    animation-duration: $transition-time;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

.slideshow-image.loading {
    animation-name: shrinkY;
    animation-duration: $transition-time;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

    .slideshow-image {
        transform-origin: top left;
    }

.slideshow-box-container.loading {
    animation-name: shrinkY;
    animation-duration: $transition-time;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

    .slideshow-box-container {
        transform-origin: top left;
    }

.slideshow-content-container.loading {
    animation-name: fade;
    animation-duration: $transition-time;
    animation-direction: alternate;
    animation-iteration-count: 2;
}