/*Menu*/
.menu-icon {
    transition: transform $transition_time, filter $transition_time;
}

.menu-link {
    transition: transform $transition_time, color $transition_time;
}

/*ProjectGrid*/
.projectsgrid-description-icon-new {
    transition: transform $transition_time, color $transition_time;
}

.projectsgrid-description-icon-github {
    transition: transform $transition_time, filter $transition_time;
}

.projectsgrid-loadmore-button {
    transition: transform $transition_time, color $transition_time;
}

/*ProjectTile*/
.projecttile-container {
    transition: transform $transition_time;
}   

/*Slideshow*/
.slideshow-icon-new {
    transition: transform $transition_time, color $transition_time;
}

.slideshow-icon-github {
    transition: transform $transition_time, filter $transition_time;
}

/*About*/
.about-image {
    transition: transform $transition_time;
}

/*Contact*/
.contact-icon {
    transition: transform $transition_time, filter $transition_time;
}

.contact-email {
    transition: transform $transition_time, color $transition_time;
}

/*Introduction*/
.introduction-icon {
    transition: transform $transition_time, color $transition_time;
}