/*Menu*/
.menu-icon {
    transition: transform $transition_time, filter $transition_time;
}

.menu-link {
    transition: transform $transition_time, color $transition_time;
}

/*ProjectGrid*/
.projectsgrid-description-container {
    transition: top calc($transition_time/2) calc($transition_time/2);
}

.projectsgrid-description-container.loadout {
    transition: transform calc($transition_time/2) calc($transition_time/2);
}

.projectsgrid-description-content-container.loadout {
    transition: opacity calc($transition_time/2);
}

.projectsgrid-description-container.loadin {
    transition: transform calc($transition_time/2), height calc($transition_time/2);
}

.projectsgrid-description-content-container.loadin {
    transition: opacity calc($transition_time/2) calc($transition_time/2);
}

.projectsgrid-description-image {
    transition: transform $transition_time;
}

.projectsgrid-description-icon-new {
    transition: transform $transition_time, color $transition_time;
}

.projectsgrid-description-icon-github {
    transition: transform $transition_time, filter $transition_time;
}

.projectsgrid-loadmore-button {
    transition: transform $transition_time, color $transition_time, background-color $transition_time;
}

/*ProjectTile*/
.projecttile-container {
    transition: transform $transition_time;
}   

/*Slideshow*/
.slideshow-background {
    transition: opacity calc($transition_time*2);
}

.slideshow-box-container.loadout {
    transition: transform calc($transition_time*2/2) calc($transition_time*2/2);
}

.slideshow-content-container.loadout {
    transition: opacity calc($transition_time*2/2);
}

.slideshow-box-container.loadin {
    transition: transform calc($transition_time*2/2);
}

.slideshow-content-container.loadin {
    transition: opacity calc($transition_time*2/2) calc($transition_time*2/2);
}

.slideshow-image {
    transition: transform calc($transition_time*2);
}

.slideshow-icon-new {
    transition: transform $transition_time, color $transition_time;
}

.slideshow-icon-github {
    transition: transform $transition_time, filter $transition_time;
}

/*About*/
.about-image {
    transition: transform $transition_time;
}

/*Contact*/
.contact-icon {
    transition: transform $transition_time, filter $transition_time;
}

.contact-email {
    transition: transform $transition_time, color $transition_time;
}

/*Introduction*/
.introduction-text-name {
    transition: transform $transition_time, color $transition_time;
}

.introduction-icon {
    transition: transform $transition_time, color $transition_time;
}