.loading-logo-container {
    @include flexbox($justify-content: center, $align-items:center);
    width: 100%;

    position: absolute;
    top: calc(50vh - 7.5vw);
}

.loading-logo {
    height: 15vw;
    width: 15vw;
}