.menu-container {
    @include flexbox($flex-direction: row, $justify-content: space-between);

    background-color: rgba(5, 7, 19, 0.35);

    position: fixed;
    z-index: 1;

    height: 50px;
    width: 100vw;

    @include breakpoint(mobile){height: 30px;}
}

    .menu-icon {
        height: 50px;
        margin-left: 1vw;

        cursor: pointer;

        @include breakpoint(mobile){height: 30px;}
    }

        .menu-icon:hover {
            transform: scale(1.1);
            filter: invert(49%) sepia(29%) saturate(799%) hue-rotate(128deg) brightness(93%) contrast(86%);
        }

    .menu-links-container {
        @include flexbox($flex-direction: row, $align-items: center);

        width: 60vw;

        @include breakpoint(tablet){display: none;}
        @include breakpoint(mobile){display: none;}
    }

        .menu-link {
            font-size: 1.4vw;

            cursor: pointer;
        }

        .menu-link:hover {
            transform: scale(1.1);
            color: $color4;
        }