.menu-container {
    background-color: rgba(5, 7, 19, 0.35);

    @include flexbox($flex-direction: row, $justify-content: space-between);
    
    position: fixed;
    z-index: 1;

    height: 50px;
    width: 100vw;

    @include breakpoint(mobile){height: 30px;}
}

    .menu-icon {
        font-size: 50px;
        font-weight: 100;

        width: 5vw;
        margin-left: 1vw;

        cursor: pointer;

        @include breakpoint(mobile){font-size: 30px;}
    }

        .menu-icon:hover {
            transform: scale(1.1);
            color: $color4;

            transition: transform $transition_time, color $transition_time;
        }

    .menu-links-container {
        @include flexbox($flex-direction: row, $align-items: center);

        width: 60vw;

        @include breakpoint(tablet){display: none;}
        @include breakpoint(mobile){display: none;}
    }

        .menu-link {
            font-size: 1.4vw;

            cursor: pointer;
        }

        .menu-link:hover {
            transform: scale(1.1);
            color: $color4;

            transition: transform $transition_time, color $transition_time;
        }