.projecttile-container {
    @include floatingboxshadow();

    background-color: $color2;
    
    height: 15vw;
    width: 15vw;

    cursor: pointer;

    @include breakpoint(mobile){height: 80vw; width: 80vw}
}

    .projecttile-container:hover {
        transform: scale(1.1);
    }