/*Loading In or Loading Out*/
.projectsgrid-description-container.loadout {
    opacity: 0;
    height: 0;
}

.projectsgrid-description-container.loadin {
    opacity: 1;
    height: 23vw;
}

.projectsgrid-description-image.loadout {
    height: 0;
}

.projectsgrid-description-image.loadin {
    height: 18vw;
}

/*Main*/
.projectsgrid-container {
    @include flexbox();

    position: relative;

    margin-left: 10vw;
    margin-right: 10vw;
}

    .projectsgrid-row-container {
        @include flexbox($flex-direction: row);

        position: relative;

        margin-bottom: 20px;

        @include breakpoint(mobile){@include flexbox($align-items: center); margin-bottom: 0}
    }

    .projectsgrid-description-container.invisible {
        height: 0;
    }

    .projectsgrid-description-container {
        @include floatingboxshadow();

        background-color: $color3;

        height: 23vw;
        width: 70vw;
        margin-bottom: 20px;

        opacity: 1;

        @include breakpoint(mobile){height: 80vw; width: 80vw; position: absolute; margin-bottom: 0}
    }

        .projectsgrid-description-content-container {
            @include flexbox($flex-direction: row, $align-items: center);

            height: 100%;
            width: 80vw;
        }

            .projectsgrid-description-image.invisible {
                height: 0vw;
            }

            .projectsgrid-description-image{
                @include floatingboxshadow();

                height: 18vw;
                width: 18vw;
                
                @include breakpoint(mobile){display: none}
            }

            .projectsgrid-description-leftcol-container {
                @include flexbox();

                height: 90%;

                @include breakpoint(mobile){align-items: center;}
            }

                .projectsgrid-description-title {
                    font-size: 2.75vw;

                    @include breakpoint(mobile){font-size: 8vw}
                }

                .projectsgrid-description-institution {
                    font-size: 1.75vw;
                    font-style: italic;

                    @include breakpoint(mobile){font-size: 5vw}
                }

                .projectsgrid-description-date {
                    font-size: 1.5vw;

                    @include breakpoint(mobile){font-size: 4.5vw}
                }

                .projectsgrid-description-text {
                    font-size: 1.5vw;
                    text-align: justify;

                    width: 55vw;

                    @include breakpoint(mobile){width: 80%; font-size: 3.5vw}
                }

                .projectsgrid-description-tech {
                    font-family: monospace, monospace;
                    font-size: 1.25vw;

                    @include breakpoint(mobile){font-size: 3.75vw}
                }

                .projectsgrid-description-links-container {
                    @include flexbox($flex-direction: row, $align-items: center);

                    height: 2.4vw;
                    width: 6vw;
                    margin-left: -0.8vw;

                    @include breakpoint(mobile){width: 20vw; height: 7.5vw}
                }

                    .projectsgrid-description-link {
                        color: white;
                        text-decoration: none;
                    }

                    .projectsgrid-description-icon-new {
                        height: 2.4vw !important; 
                        width: 2.4vw !important; 

                        @include breakpoint(mobile){height: 7.5vw !important; width: 7.5vw !important}
                    }

                    .projectsgrid-description-icon-github {
                        height: 2vw;

                        @include breakpoint(mobile){height: 7.5vw}
                    }