.section-container {
    @include flexbox($justify-content: center);

    position: relative;

    min-height: 70vw;

    @include breakpoint(tablet){height: auto};
    @include breakpoint(mobile){height: auto};
}

.section-container-spec {
    @include flexbox($justify-content: center);

    position: relative;

    height: 100vh;

    @include breakpoint(mobile){height: 170vw};
}

    .section-title {
        font-size: 4vw;
        font-family: 'Lato', 'sans-serif';
        text-align: center;
        
        margin-bottom: 20px;
        margin-top: 20px;

        @include breakpoint(mobile){font-size: 8vw};
    }

    .section-sidebar-container-left {
        position: absolute;
        top: 200px;
        left: 6vw;

        @include breakpoint(tablet){top: auto; bottom: 20px; left: 0; padding-left: 48vw;};
        @include breakpoint(mobile){top: auto; bottom: 20px; left: 0; padding-left: 48vw;};
    }

    .section-sidebar-container-right {
        position: absolute;
        top: 200px;
        left: 92vw;

        @include breakpoint(tablet){top: auto; bottom: 20px; left: 0; padding-left: 48vw;};
        @include breakpoint(mobile){top: auto; bottom: 20px; left: 0; padding-left: 48vw;};
    }

        .section-sidebar-icon {
            height: 70px;

            @include breakpoint(tablet){display: none};
            @include breakpoint(mobile){display: none};
        }

        .section-sidebar-icon-spec {
            height: 70px;

            @include breakpoint(tablet){height: 30px};
            @include breakpoint(mobile){height: 20px};
        }

        .section-sidebar-line {
            border-left: 1px solid $color4;
            
            height: 50vh;
            margin-left: 50%;

            @include breakpoint(tablet){display: none};
            @include breakpoint(mobile){display: none};
        }