.section-container {
    @include flexbox($justify-content: center);

    position: relative;

    min-height: 70vw;

    @include breakpoint(tablet){height: auto};
    @include breakpoint(mobile){height: auto};
}

.section-container-spec {
    @include flexbox($justify-content: center);

    position: relative;

    height: 100vh;

    overflow-y: hidden;

    @include breakpoint(mobile){height: 200vw};
}

    .section-title {
        color: $color_ft;

        font-size: 4vw;
        font-family: $font_ft;
        text-align: center;
        font-weight: $weight_ft;

        margin-bottom: 20px;
        margin-top: 20px;

        @include breakpoint(mobile){font-size: 8vw};
    }