.sidebar-container {
    position: fixed;
    bottom: 0px;
    left: 92vw;
    z-index: -2;

    @include breakpoint(tablet){display: none};
    @include breakpoint(mobile){display: none};
}

    .sidebar-icon {
        height: 70px;
        filter: $color_h_filter;

        @include breakpoint(tablet){display: none};
        @include breakpoint(mobile){display: none};
    }

    .sidebar-line {
        border-left: 3px solid $color_h;

        height: 50vh;
        margin-left: 46%;

        @include breakpoint(tablet){display: none};
        @include breakpoint(mobile){display: none};
    }