/*Transitions*/
.slideshow-background.loadout {
    opacity: 0;

    transition: opacity $transition_time;
}

.slideshow-background.loadin {
    opacity: 1;

    transition: opacity $transition_time;
}

.slideshow-image.loadout {
    height: 0vw;

    transition: height $transition_time;
}

.slideshow-image.loadin {
    height: 18vw;

    transition: height $transition_time;
}

.slideshow-box-container.loadout {
    opacity: 0;

    transition: opacity $transition_time;
}

.slideshow-box-container.loadin {
    opacity: 1;

    transition: opacity $transition_time;
}

/*Main*/
.slideshow-background {
    height: 100%;
    width: 100%;

    opacity: 1;
}

.slideshow-shadow {
    height: 100%;
    width: 100%;

    position: absolute;
    z-index: -1;
}

.slideshow-box-container {
    @include floatingboxshadow();

    background-color: $color3;

    position: absolute;
    top: 50%;
    left: 10vw; 
    z-index: 0;

    height: 23vw;
    width: 70vw;

    opacity: 1;
        
    transition: height $transition_time, opacity $transition_time;
}

    .slideshow-content-container {
        @include flexbox($flex-direction: row, $align-items: center);

        height: 100%;
        width: 80vw;
    }

        .slideshow-image {
            @include floatingboxshadow();

            height: 18vw;
            width: 18vw;
        }

        .slideshow-leftcol-container {
            @include flexbox();

            height: 90%;
        }

            .slideshow-title {
                font-size: 2.75vw;
            }

            .slideshow-institution {
                font-size: 1.75vw;
                font-style: italic;
            }

            .slideshow-date {
                font-size: 1.5vw;
            }

            .slideshow-text {
                font-size: 1.5vw;
                text-align: justify;

                width: 55vw;
            }

            .slideshow-tech {
                font-family: monospace, monospace;
                font-size: 1.25vw;
            }

            .slideshow-links-container {
                @include flexbox($flex-direction: row, $align-items: center);

                height: 2.4vw;
                width: 6vw;
                margin-left: -0.8vw;
            }

                .slideshow-link {
                    color: white;
                    text-decoration: none;
                }

                .slideshow-icon-new {
                    height: 2.4vw !important; 
                    width: 2.4vw !important; 
                }

                .slideshow-icon-github {
                    height: 2vw;
                }