@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/*TODO after styling, perhaps consider converting to Tailwind CSS*/

:root{
    --a: #050713;
    --b: #464866;
    --c: #AAABB8;
    --d: #2E9CCA;
    --e: #29648A;
}

html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
    display: none; /* Chrome */
}

body {
    background-color: var(--a);
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;

    margin: 0;
    padding: 0;
}

/*Section*/
.section-container {
    position: relative;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    height: 100vh;
}

    .section-title {
        font-size: 5vh;
        text-align: center;
        
        margin-bottom: 2vh;
    }

    .section-sidebar-container-left {
        position: absolute;
        top: 20vh;
        left: 8vw;
    }

    .section-sidebar-container-right {
        position: absolute;
        top: 20vh;
        left: 90vw;
    }

        .section-sidebar-icon {
            height: 7vh;
        }

        .section-sidebar-line {
            border-left: 1px solid var(--d);
            
            height: 53vh;
            margin-left: 50%;
        }

/*ProjectsGrid*/
.projectsgrid-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

    .projectsgrid-row-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;

        margin-bottom: 2vh;
    }

    .projectsgrid-description-container {
        background-color: var(--b);
        box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;

        height: 40vh;
        width: 70vw;
        margin-left: 10vw;
    }

        .projectsgrid-description-content-container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

            .projectsgrid-description-image {
                box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;

                height: 20vw;
                width: 20vw;
                margin-left: 5vw;
                margin-top: 2vh;
            }

            .projectsgrid-description-leftcol-container {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-evenly;
                margin-left: 1vw;
            }

                .projectsgrid-description-title {
                    font-size: 5vh;
                }

                .projectsgrid-description-text {
                    font-size: 2.5vh;
                    text-align: justify;

                    width: 55vw;
                }

                .projectsgrid-description-tech {
                    font-family: monospace, monospace;
                    color: var(--c);
                    font-size: 2vh;
                }

                .projectsgrid-description-links-container {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-evenly;

                    width: 6vw;
                    margin-left: -0.8vw;
                }

                    .projectsgrid-description-link {
                        color: white;
                        text-decoration: none;

                        display: block;
                    }

                    .projectsgrid-description-icon-new {
                        transform: scale(1.3);
                    }

                    .projectsgrid-description-icon-github {
                        height: 3vh;
                    }

                .projectsgrid-description-icon-close {
                    padding-top: 3vh;
                    transform: scale(1.3);
                    cursor: pointer;
                }

/*ProjectTile*/
.projecttile-container {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    
    height: 15vw;
    width: 15vw;

    transition: transform 0.4s;

    cursor: pointer;
}

    .projecttile-container:hover {
        transform: scale(1.1);
    }

/*Menu*/
.menu-container {
    background-color: rgba(5, 7, 19, 0.35);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    
    position: fixed;
    z-index: 1;

    height: 5vh;
    width: 100vw;
}

    .menu-icon {
        font-size: 5vh;
        font-weight: 100;

        width: 5vw;
        margin-left: 1vw;
    }

    .menu-links-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;

        width: 60vw;
    }

        .menu-link {
            font-size: 2.5vh;

            cursor: pointer;

            transition: transform 0.4s;
            transition: color 0.4s;
        }

        .menu-link:hover {
            transform: scale(1.1);
            color: var(--d);
        }

/*Introduction*/
.introduction-animation-container {
    position: absolute;
    top: 0;
    z-index: -1;

    height: 100vh;
}

.introduction-animation-container canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.introduction-darkfilter {
    background-color: rgba(0, 0, 0, 0.35);

    position: absolute;
    top: 0;
    z-index: -1;

    height: 100vh;
    width: 100vw;
}

.introduction-text-container {
    display: flex;
    flex-flow: column nowrap;
    
    margin-top: 10%;
}

    .introduction-text-hi {
        font-size: 6vh;
        text-align: center;
    }

    .introduction-text-name {
        font-size: 18vh;
        text-align: center;
    }

    .introduction-text-tagline {
        font-size: 8vh;
        text-align: center;
    }

.introduction-icon {
    transform: scale(2);

    position: absolute;
    top: 95vh;

    margin-left: 49%;

    cursor: pointer;

    transition: transform 0.4s;
    transition: color 0.4s;
}

    .introduction-icon:hover {
        transform: scale(2.5);
        color: var(--d);
    }

/*About*/
.about-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    margin-left: 10vw;
    margin-right: 10vw;
}

    .about-image {
        border: 2px solid white;

        height: 20vw;
        width: 20vw;
    }

    .about-text {
        font-size: 2.5vh;
        text-align: justify;

        width: 45vw;
    }