/*App*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
.app {
  animation: app_fadein;
  animation-duration: 1.5s;
  animation-delay: 1.7s;
}

@keyframes app_fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*Loading*/
.loading-logo {
  animation-name: loading_logo_fill, loading_logo_fadeout;
  animation-duration: 0.9s, 0.9s;
  animation-delay: 0s, 0.8s;
}

@keyframes loading_logo_fill {
  from {
    transform: scale(1);
    filter: auto;
  }
  to {
    transform: scale(1.3);
    filter: invert(49%) sepia(29%) saturate(799%) hue-rotate(128deg) brightness(93%) contrast(86%);
  }
}
@keyframes loading_logo_fadeout {
  from {
    opacity: 1;
    filter: invert(49%) sepia(29%) saturate(799%) hue-rotate(128deg) brightness(93%) contrast(86%);
    transform: scale(1.3);
  }
  to {
    opacity: 0;
    filter: invert(49%) sepia(29%) saturate(799%) hue-rotate(128deg) brightness(93%) contrast(86%);
    transform: scale(1.3);
  }
}
/*ProjectsGrid*/
.projectsgrid-description-container.loading {
  animation-name: projectsgrid_descriptioncontainer_scale;
  animation-duration: 0.6s;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

.projectsgrid-description-container.loadingfirst {
  animation-name: projectsgrid_descriptioncontainer_scale;
  animation-duration: 0.6s;
  animation-direction: reverse;
}

@keyframes projectsgrid_descriptioncontainer_scale {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
.projectsgrid-description-content-container.loading {
  animation-name: projectsgrid_descriptioncontentcontainer_fade;
  animation-duration: 0.6s;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

.projectsgrid-description-content-container.loadingfirst {
  animation-name: projectsgrid_descriptioncontentcontainer_fade;
  animation-duration: 0.6s;
  animation-direction: reverse;
}

@keyframes projectsgrid_descriptioncontentcontainer_fade {
  from {
    transform: opacity(1);
  }
  to {
    transform: opacity(0);
  }
}
.projectsgrid-description-image.loading {
  animation-name: projectsgrid_descriptionimage_scale;
  animation-duration: 0.6s;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

.projectsgrid-description-image.loadingfirst {
  animation-name: projectsgrid_descriptionimage_scale;
  animation-duration: 0.6s;
  animation-direction: reverse;
}

@keyframes projectsgrid_descriptionimage_scale {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
/*Slideshow*/
.slideshow-background.loading {
  animation-name: slideshow_background_fade;
  animation-duration: 0.6s;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

@keyframes slideshow_background_fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.slideshow-image.loading {
  animation-name: slideshow_image_scale;
  animation-duration: 0.6s;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

@keyframes slideshow_image_scale {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
.slideshow-box-container.loading {
  animation-name: slideshow_boxcontainer_scale;
  animation-duration: 0.6s;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

@keyframes slideshow_boxcontainer_scale {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
.slideshow-content-container.loading {
  animation-name: slideshow_content_fade;
  animation-duration: 0.6s;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

@keyframes slideshow_content_fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*Menu*/
.menu-icon {
  transition: transform 0.6s, filter 0.6s;
}

.menu-link {
  transition: transform 0.6s, color 0.6s;
}

/*ProjectGrid*/
.projectsgrid-description-icon-new {
  transition: transform 0.6s, color 0.6s;
}

.projectsgrid-description-icon-github {
  transition: transform 0.6s, filter 0.6s;
}

.projectsgrid-loadmore-button {
  transition: transform 0.6s, color 0.6s, background-color 0.6s;
}

/*ProjectTile*/
.projecttile-container {
  transition: transform 0.6s;
}

/*Slideshow*/
.slideshow-icon-new {
  transition: transform 0.6s, color 0.6s;
}

.slideshow-icon-github {
  transition: transform 0.6s, filter 0.6s;
}

/*About*/
.about-image {
  transition: transform 0.6s;
}

/*Contact*/
.contact-icon {
  transition: transform 0.6s, filter 0.6s;
}

.contact-email {
  transition: transform 0.6s, color 0.6s;
}

/*Introduction*/
.introduction-text-name {
  transition: transform 0.6s, color 0.6s;
}

.introduction-icon {
  transition: transform 0.6s, color 0.6s;
}

html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #05080F;
  color: #E7E7E7;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.loading-logo-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: calc(50vh - 10vw);
}

.loading-logo {
  height: 10vw;
  width: 10vw;
}

.menu-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  background-color: rgba(5, 7, 19, 0.35);
  position: fixed;
  z-index: 1;
  height: 50px;
  width: 100vw;
}
@media (max-width: 500px) {
  .menu-container {
    height: 30px;
  }
}

.menu-icon {
  height: 50px;
  margin-left: 1vw;
  cursor: pointer;
}
@media (max-width: 500px) {
  .menu-icon {
    height: 30px;
  }
}

.menu-icon:hover {
  transform: scale(1.1);
  filter: invert(49%) sepia(29%) saturate(799%) hue-rotate(128deg) brightness(93%) contrast(86%);
}

.menu-links-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 60vw;
}
@media (min-width: 500px) and (max-width: 1400px) {
  .menu-links-container {
    display: none;
  }
}
@media (max-width: 500px) {
  .menu-links-container {
    display: none;
  }
}

.menu-link {
  font-size: 1.4vw;
  cursor: pointer;
}

.menu-link:hover {
  transform: scale(1.1);
  color: #368F8B;
}

/*Main*/
.projectsgrid-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  position: relative;
  margin-left: 10vw;
  margin-right: 10vw;
}

.projectsgrid-row-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  position: relative;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .projectsgrid-row-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0;
  }
}

.projectsgrid-description-container.invisible {
  height: 0;
}

.projectsgrid-description-container {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  background-color: #18474E;
  height: 23vw;
  width: 70vw;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .projectsgrid-description-container {
    height: 80vw;
    width: 80vw;
    position: absolute;
    margin-bottom: 0;
  }
}

.projectsgrid-description-content-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 80vw;
}

.projectsgrid-description-image.invisible {
  transform: scaleY(0);
}

.projectsgrid-description-image {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  height: 18vw;
  width: 18vw;
}
@media (max-width: 500px) {
  .projectsgrid-description-image {
    display: none;
  }
}

.projectsgrid-description-leftcol-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  height: 90%;
}
@media (max-width: 500px) {
  .projectsgrid-description-leftcol-container {
    align-items: center;
  }
}

.projectsgrid-description-title {
  font-size: 2.75vw;
}
@media (max-width: 500px) {
  .projectsgrid-description-title {
    font-size: 8vw;
    text-align: center;
  }
}

.projectsgrid-description-institution {
  font-size: 1.75vw;
  font-style: italic;
  width: 55vw;
}
@media (max-width: 500px) {
  .projectsgrid-description-institution {
    font-size: 5vw;
    text-align: center;
  }
}

.projectsgrid-description-date {
  font-size: 1.5vw;
}
@media (max-width: 500px) {
  .projectsgrid-description-date {
    font-size: 4.5vw;
  }
}

.projectsgrid-description-text {
  font-size: 1.5vw;
  text-align: justify;
  width: 55vw;
}
@media (max-width: 500px) {
  .projectsgrid-description-text {
    width: 80%;
    font-size: 3.5vw;
  }
}

.projectsgrid-description-tech {
  font-family: monospace, monospace;
  font-size: 1.25vw;
}
@media (max-width: 500px) {
  .projectsgrid-description-tech {
    font-size: 3.75vw;
  }
}

.projectsgrid-description-links-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 2.4vw;
  width: 6vw;
  margin-left: -0.8vw;
}
@media (max-width: 500px) {
  .projectsgrid-description-links-container {
    width: 20vw;
    height: 7.5vw;
  }
}

.projectsgrid-description-link {
  color: white;
  text-decoration: none;
}

.projectsgrid-description-icon-new {
  height: 2.4vw !important;
  width: 2.4vw !important;
}
@media (max-width: 500px) {
  .projectsgrid-description-icon-new {
    height: 7.5vw !important;
    width: 7.5vw !important;
  }
}

.projectsgrid-description-icon-new:hover {
  transform: scale(1.1);
  color: #368F8B;
}

.projectsgrid-description-icon-github {
  height: 2vw;
}
@media (max-width: 500px) {
  .projectsgrid-description-icon-github {
    height: 7.5vw;
  }
}

.projectsgrid-description-icon-github:hover {
  transform: scale(1.1);
  filter: invert(49%) sepia(29%) saturate(799%) hue-rotate(128deg) brightness(93%) contrast(86%);
}

.projectsgrid-loadmore-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.projectsgrid-loadmore-button {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  background-color: #18474E;
  text-align: center;
  font-size: 1.25vw;
  width: 20%;
}
@media (max-width: 500px) {
  .projectsgrid-loadmore-button {
    margin-top: 20px;
    width: 80%;
    font-size: 5vw;
  }
}

.projectsgrid-loadmore-button:hover {
  color: #368F8B;
  background-color: #E7E7E7;
  transform: scale(1.1);
  cursor: pointer;
}

.projecttile-container {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  background-color: #E7E7E7;
  height: 15vw;
  width: 15vw;
  cursor: pointer;
}
@media (max-width: 500px) {
  .projecttile-container {
    height: 80vw;
    width: 80vw;
  }
}

.projecttile-container:hover {
  transform: scale(1.1);
}

.section-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  position: relative;
  min-height: 70vw;
}
@media (min-width: 500px) and (max-width: 1400px) {
  .section-container {
    height: auto;
  }
}
@media (max-width: 500px) {
  .section-container {
    height: auto;
  }
}

.section-container-spec {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  position: relative;
  height: 70vw;
}
@media (max-width: 500px) {
  .section-container-spec {
    height: 170vw;
  }
}

.section-title {
  font-size: 4vw;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
@media (max-width: 500px) {
  .section-title {
    font-size: 8vw;
  }
}

.section-sidebar-container-left {
  position: absolute;
  top: 200px;
  left: 6vw;
}
@media (min-width: 500px) and (max-width: 1400px) {
  .section-sidebar-container-left {
    top: auto;
    bottom: 20px;
    left: 0;
    padding-left: 48vw;
  }
}
@media (max-width: 500px) {
  .section-sidebar-container-left {
    top: auto;
    bottom: 20px;
    left: 0;
    padding-left: 48vw;
  }
}

.section-sidebar-container-right {
  position: absolute;
  top: 200px;
  left: 92vw;
}
@media (min-width: 500px) and (max-width: 1400px) {
  .section-sidebar-container-right {
    top: auto;
    bottom: 20px;
    left: 0;
    padding-left: 48vw;
  }
}
@media (max-width: 500px) {
  .section-sidebar-container-right {
    top: auto;
    bottom: 20px;
    left: 0;
    padding-left: 48vw;
  }
}

.section-sidebar-icon {
  height: 70px;
}
@media (min-width: 500px) and (max-width: 1400px) {
  .section-sidebar-icon {
    display: none;
  }
}
@media (max-width: 500px) {
  .section-sidebar-icon {
    display: none;
  }
}

.section-sidebar-icon-spec {
  height: 70px;
}
@media (min-width: 500px) and (max-width: 1400px) {
  .section-sidebar-icon-spec {
    height: 30px;
  }
}
@media (max-width: 500px) {
  .section-sidebar-icon-spec {
    height: 20px;
  }
}

.section-sidebar-line {
  border-left: 1px solid #368F8B;
  height: 600px;
  margin-left: 50%;
}
@media (min-width: 500px) and (max-width: 1400px) {
  .section-sidebar-line {
    display: none;
  }
}
@media (max-width: 500px) {
  .section-sidebar-line {
    display: none;
  }
}

/*Main*/
.slideshow-background {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slideshow-shadow {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.slideshow-box-container {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  background-color: #18474E;
  position: absolute;
  top: 50%;
  left: 10vw;
  z-index: 0;
  height: 23vw;
  width: 70vw;
}
@media (max-width: 500px) {
  .slideshow-box-container {
    display: none;
  }
}

.slideshow-content-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 80vw;
}

.slideshow-image {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  height: 18vw;
  width: 18vw;
}

.slideshow-leftcol-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  height: 90%;
}

.slideshow-title {
  font-size: 2.75vw;
}

.slideshow-institution {
  font-size: 1.75vw;
  font-style: italic;
}

.slideshow-date {
  font-size: 1.5vw;
}

.slideshow-text {
  font-size: 1.5vw;
  text-align: justify;
  width: 55vw;
}

.slideshow-tech {
  font-family: monospace, monospace;
  font-size: 1.25vw;
}

.slideshow-links-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 2.4vw;
  width: 6vw;
  margin-left: -0.8vw;
}

.slideshow-link {
  color: white;
  text-decoration: none;
}

.slideshow-icon-new {
  height: 2.4vw !important;
  width: 2.4vw !important;
}

.slideshow-icon-new:hover {
  transform: scale(1.1);
  color: #368F8B;
}

.slideshow-icon-github {
  height: 2vw;
}

.slideshow-icon-github:hover {
  transform: scale(1.1);
  filter: invert(49%) sepia(29%) saturate(799%) hue-rotate(128deg) brightness(93%) contrast(86%);
}

.about-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  width: 80%;
  padding-left: 10vw;
}
@media (max-width: 500px) {
  .about-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    padding-left: 10%;
  }
}

.about-image {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  border: 2px solid #E7E7E7;
  height: 20vw;
  width: 20vw;
}
@media (max-width: 500px) {
  .about-image {
    height: 55vw;
    width: 55vw;
    margin-bottom: 10px;
  }
}

.about-image:hover {
  transform: scale(1.1);
}

.about-text {
  font-size: 1.5vw;
  text-align: justify;
  width: 45vw;
}
@media (max-width: 500px) {
  .about-text {
    font-size: 3.15vw;
    width: 80vw;
  }
}

.about-text span {
  color: #368F8B;
}

.contact-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 30%;
  width: 70vw;
  margin-left: 15vw;
}

.contact-text {
  font-size: 2vw;
  text-align: center;
}
@media (max-width: 500px) {
  .contact-text {
    font-size: 4vw;
  }
}

.contact-email {
  color: #E7E7E7;
  font-weight: bold;
  font-size: 3.25vw;
  text-align: center;
  text-decoration: none;
}
@media (max-width: 500px) {
  .contact-email {
    font-size: 5vw;
  }
}

.contact-email:hover {
  transform: scale(1.1);
  color: #368F8B;
  cursor: pointer;
}

.contact-links-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  width: 20vw;
}
@media (max-width: 500px) {
  .contact-links-container {
    width: 30vw;
  }
}

.contact-icon {
  height: 3.75vw;
}
@media (max-width: 500px) {
  .contact-icon {
    height: 8vw;
  }
}

.contact-icon:hover {
  transform: scale(1.1);
  filter: invert(49%) sepia(29%) saturate(799%) hue-rotate(128deg) brightness(93%) contrast(86%);
}

.introduction-animation-container {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.introduction-animation-container canvas {
  display: block;
}

.introduction-darkfilter {
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.introduction-text-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  margin-top: 10%;
  cursor: default;
}

.introduction-text-hi {
  font-size: 3.25vw;
  text-align: center;
}

.introduction-text-name {
  font-size: 9vw;
  text-align: center;
}

.introduction-text-name:hover {
  transform: scale(1.1);
  color: #368F8B;
}

.introduction-text-tagline {
  font-size: 3.75vw;
  text-align: center;
}

.introduction-icon {
  background-color: rgba(5, 7, 19, 0.55);
  position: absolute;
  bottom: 0%;
  height: 3.25vw !important;
  width: 3.25vw !important;
  padding-right: 48vw;
  padding-left: 48vw;
  cursor: pointer;
}
@media (max-width: 500px) {
  .introduction-icon {
    display: none !important;
  }
}

.introduction-icon:hover {
  transform: scale(1.1);
  color: #368F8B;
}

/*# sourceMappingURL=index.css.map */
