@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/*TODO after styling, perhaps consider converting to Tailwind CSS*/

:root{
    --a: #05080F;
    --b: #E7E7E7;
    --c: #18474E;
    --d: #368F8B;
}

html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
    display: none; /* Chrome */
}

body {
    background-color: var(--a);
    color: var(--b);
    font-family: 'Lato', sans-serif;
    font-weight: 300;

    margin: 0;
    padding: 0;
}

/*Section*/
.section-container {
    position: relative;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    height: 100vh;
}

    .section-title {
        font-size: 5vh;
        text-align: center;
        
        margin-bottom: 2vh;
    }

    .section-sidebar-container-left {
        position: absolute;
        top: 20vh;
        left: 8vw;
    }

    .section-sidebar-container-right {
        position: absolute;
        top: 20vh;
        left: 90vw;
    }

        .section-sidebar-icon {
            height: 7vh;
        }

        .section-sidebar-line {
            border-left: 1px solid var(--d);
            
            height: 53vh;
            margin-left: 50%;
        }

/*Slideshow*/
.slideshow-background {
    height: 100vh;
    width: 100vw;
}

.slideshow-shadow {
    box-shadow: inset rgba(0, 0, 0, 0.5) 0px 5px 15px;

    height: 100vh;
    width: 100vw;

    position: absolute;
    z-index: -1;
}

.slideshow-box-container {
    background-color: var(--c);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;

    position: absolute;
    top: 55vh;
    left: 5vw;
    z-index: 0;

    height: 40vh;
    width: 70vw;
}

    .slideshow-content-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

        .slideshow-image {
            box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;

            height: 20vw;
            width: 20vw;
            margin-left: 5vw;
            margin-top: 2vh;
        }

        .slideshow-leftcol-container {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;
            margin-left: 1vw;
        }

            .slideshow-title {
                font-size: 5vh;
            }

            .slideshow-institution {
                font-size: 3vh;
                font-style: italic;
            }

            .slideshow-date {
                font-size: 2.5vh;
            }

            .slideshow-text {
                font-size: 2.5vh;
                text-align: justify;

                width: 55vw;
            }

            .slideshow-tech {
                font-family: monospace, monospace;
                font-size: 2vh;
            }

            .slideshow-links-container {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-evenly;

                width: 6vw;
                margin-left: -0.8vw;
            }

                .slideshow-link {
                    color: white;
                    text-decoration: none;

                    display: block;
                }

                .slideshow-icon-new {
                    transform: scale(1.3);
                }

                .slideshow-icon-github {
                    height: 3vh;
                }

/*ProjectsGrid Preloaded*/
.projectsgrid-description-container {
    height: 0vh;
    opacity: 0;
}

.projectsgrid-description-image {
    height: 0vh;
}

/*ProjectsGrid*/
.projectsgrid-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

    .projectsgrid-row-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;

        margin-bottom: 2vh;
    }

    .projectsgrid-description-container.visible {
        background-color: var(--c);
        box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;

        height: 37vh;
        width: 70vw;
        margin-left: 10vw;

        opacity: 1;
        
        transition: height 0.4s, opacity 0.4s;
    }

        .projectsgrid-description-content-container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

            .projectsgrid-description-image.visible{
                box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;

                height: 18vw;
                width: 18vw;
                margin-left: 5vw;
                margin-top: 2vh;

                transition: height 0.4s;
            }

            .projectsgrid-description-leftcol-container {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-evenly;
                margin-left: 1vw;
                height: 18vw;
            }

                .projectsgrid-description-title {
                    font-size: 5vh;
                }

                .projectsgrid-description-institution {
                    font-size: 3vh;
                    font-style: italic;
                }

                .projectsgrid-description-date {
                    font-size: 2.5vh;
                }

                .projectsgrid-description-text {
                    font-size: 2.5vh;
                    text-align: justify;

                    width: 55vw;
                }

                .projectsgrid-description-tech {
                    font-family: monospace, monospace;
                    font-size: 2vh;
                }

                .projectsgrid-description-links-container {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-evenly;

                    width: 6vw;
                    margin-left: -0.8vw;
                }

                    .projectsgrid-description-link {
                        color: white;
                        text-decoration: none;

                        display: block;
                    }

                    .projectsgrid-description-icon-new {
                        transform: scale(1.3);
                    }

                    .projectsgrid-description-icon-github {
                        height: 3vh;
                    }

                .projectsgrid-description-icon-close {
                    transform: scale(1.2);
                    cursor: pointer;
                }

/*ProjectTile*/
.projecttile-container {
    background-color: var(--b);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    
    height: 15vw;
    width: 15vw;

    cursor: pointer;
}

    .projecttile-container:hover {
        transform: scale(1.1);

        transition: transform 0.4s;
    }

/*Menu*/
.menu-container {
    background-color: rgba(5, 7, 19, 0.35);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    
    position: fixed;
    z-index: 1;

    height: 5vh;
    width: 100vw;
}

    .menu-icon {
        font-size: 5vh;
        font-weight: 100;

        width: 5vw;
        margin-left: 1vw;
    }

    .menu-links-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;

        width: 60vw;
    }

        .menu-link {
            font-size: 2.5vh;

            cursor: pointer;
        }

        .menu-link:hover {
            transform: scale(1.1);
            color: var(--d);

            transition: transform 0.4s, color 0.4s;
        }

/*Introduction*/
.introduction-animation-container {
    position: absolute;
    top: 0;
    z-index: -1;

    height: 100vh;
}

.introduction-animation-container canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.introduction-darkfilter {
    background-color: rgba(0, 0, 0, 0.35);

    position: absolute;
    top: 0;
    z-index: -1;

    height: 100vh;
    width: 100vw;
}

.introduction-text-container {
    display: flex;
    flex-flow: column nowrap;
    
    margin-top: 10%;
}

    .introduction-text-hi {
        font-size: 6vh;
        text-align: center;
    }

    .introduction-text-name {
        font-size: 18vh;
        text-align: center;
    }

    .introduction-text-tagline {
        font-size: 7vh;
        text-align: center;
    }

.introduction-icon {
    transform: scale(2);

    position: absolute;
    top: 95vh;

    margin-left: 49%;

    cursor: pointer;
}

    .introduction-icon:hover {
        transform: scale(2.5);
        color: var(--d);

        transition: transform 0.4s, color 0.4s;
    }

/*About*/
.about-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    margin-left: 10vw;
    margin-right: 10vw;
}

    .about-image {
        border: 2px solid white;

        height: 20vw;
        width: 20vw;
    }

    .about-text {
        font-size: 2.5vh;
        text-align: justify;

        width: 45vw;
    }

/*Contact*/
.contact-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-content: center;

    height: 30vh;
    width: 70vw;
    padding-left: 15vw;
}

    .contact-text{
        font-size: 3vh;
        text-align: center;
    }

    .contact-email{
        font-weight: bold;
        font-size: 4vh;
        text-align: center;
    }

    .contact-links-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;

        width: 20vw;
        padding-left: 25vw;
    }

        .contact-icon {
            height: 6vh;
        }

        .contact-icon:hover {
            transform: scale(1.1);
            filter: invert(49%) sepia(29%) saturate(799%) hue-rotate(128deg) brightness(93%) contrast(86%);

            transition: transform 0.4s, filter 0.4s;
        }